<section>
	<h2 class="fragment">What is AI</h2>
<p class="fragment">Interpretation machine (use large language models to achieve relational knowledge)</p>
</section>
<section>
	<h2 class="fragment">RAG: AI's second wave</h2>
	<ul>
		<li class="fragment">Talk with your books</li>
		<li class="fragment">Knowledge base</li>
		<li class="fragment">Granular control of sources of information</li>
	</ul>
</section>

<section>
	<h2 class="fragment">Sovereign vs Corporate AI</h2>
	<ul>
		<li class="fragment">Doesn't spy on you</li>
		<li class="fragment">Local first, open source</li>
	</ul>
</section>

<section>
	<h2 class="fragment">The road ahead</h2>
	<ul>
		<li class="fragment">Dead internet theory vs digital enclaves</li>
		<li class="fragment">Epistemology: a community to define what's real</li>
		<li class="fragment">Different way to interact with books</li>
		<li class="fragment">Seed, not net</li>
	</ul>
</section>

<section>
	<h2 class="fragment">Recipe and requirements</h2>

		<p class="fragment">Pending</p>
</section>

<section>
	<h2 class="fragment">Contact and next steps</h2>

		<p class="fragment">{{ partial "nimbus/QR.svg" . }}</p>
</section>
