<section>
	<h2>What is AI?</h2>
	<ul>
		<li class="fragment"><a href="https://www.youtube.com/watch?v=4otf7Qx0a_s&t=326s" target="_blank">Interpretation machines</a>!!! 👆🏽👆🏽👆🏽</li>
		<li class="fragment">Takes in tons of data</li>
		<li class="fragment">Maps connections between facts + ideas</li>
		<li class="fragment">Spits out a response</li>
	</ul>
</section>
<section>
	<h2>Welcome, RAG</h2>
	<ul>
		<li class="fragment">Retrieval-Augmented Generation</li>
		<li class="fragment">You control the sources (<a href="/knowledge-menu.pdf" target="_blank">menu</a>)</li>
		<li class="fragment">Answers + sources (with page!)</li>
	</ul>
</section>

<section>
	<h2>What is sovereign AI?</h2>
	<table>
		<thead>
			<tr class="fragment">
				<td>Sovereign AI</td>
				<td><a href="/hot-take.mp4" target="_blank">Corporate AI</a></td>
			</tr>
		</thead>
		<tbody>
			<tr class="fragment">
				<td>✅ Your data belongs to you</td>
				<td>❌ Your data belongs to shareholders</td>
			</tr>
			<tr class="fragment">
				<td>✅ Lives on a private server, no spying</td>
				<td>❌ Corporate servers spy on you</td>
			</tr>
			<tr class="fragment">
				<td>✅ Trained on your own content, with sources</td>
				<td>❌ Trained on biased, opaque content</td>
			</tr>
			<tr class="fragment">
				<td>✅ Open source</td>
				<td>❌ Closed source</td>
			</tr>
			<tr class="fragment">
				<td>✅ Motivated by community</td>
				<td>❌ Motivated by profit</td>
			</tr>
			<tr class="fragment">
				<td>✅ Features stays put</td>
				<td>❌ Subjected to <a href="https://en.wikipedia.org/wiki/Enshittification" target="_blank">enshittification</a></td>
			</tr>
		</tbody>
	</table>

</section>

<section>
	<h2>The road ahead</h2>
	<ul>
		<li class="fragment"><a href="https://en.wikipedia.org/wiki/Dead_Internet_theory" target="_blank">Dead internet theory</a> vs digital enclaves</li>
		<li class="fragment">Epistemology: a community to define what's real</li>
		<li class="fragment">Different way to interact with books</li>
		<li class="fragment"><a href="https://en.wikipedia.org/wiki/The_Diamond_Age" target="_blank">Seed, not net</a> (digital nomadism? 🤷🏽)</li>
	</ul>
</section>

<section>
	<h2>Recipe and requirements</h2>

	<ul>
		<li class="fragment"><a href="https://ollama.com/">Ollama</a> (for models)</li>
		<li class="fragment"><a href="https://openwebui.com/" target="_blank">OpenWebUI</a> (for chat interface + RAG)</li>
		<li class="fragment"><a href="https://tailscale.com/" target="_blank">Tailscale</a> (to reach outside your network, safely)</li>
	</ul>
</section>

<section>
	<h2>Contact and next steps</h2>
<ul>
		<li class="fragment">This preso: <a href="https://praxis.nyc/initiative/nimbus">praxis.nyc/initiative/nimbus</a> (or QR)</li>
		<li class="fragment">Have a community? Wanna dabble? <a href="https://airtable.com/appz4bxbVzQKKq8qi/pagaqwChTlnn4yqvh/form" target="_blank">Contact us!</a></li>
		<li class="fragment"><a href="https://praxis.nyc/initiative/cyborg.support/" target="blank">cyborg support</a> (if you're not an <a href="https://www.truthdig.com/articles/the-acronym-behind-our-wildest-ai-dreams-and-nightmares/" target="blank">AI-bro</a>)</li>
	</ul>
	<p class="fragment">{{ partial "nimbus/QR.svg" . }}</p>
</section>
