<section>
	<h2>What is AI?</h2>
	<ul>
		<li class="fragment"><a href="https://www.youtube.com/watch?v=4otf7Qx0a_s&t=326s" target="_blank">Interpretation machines</a>!!! 👆🏽👆🏽👆🏽</li>
		<li class="fragment">Takes in tons of text</li>
		<li class="fragment">Maps connections between facts + ideas</li>
		<li class="fragment">Spits out a response</li>
	</ul>
</section>
<section>
	<h2>Welcome, RAG</h2>
	<ul>
		<li class="fragment">Retrieval-Augmented Generation</li>
		<li class="fragment">You control the sources (<a href="/knowledge-menu.pdf">menu</a>)</li>
		<li class="fragment">Answers + sources (with page!)</li>
	</ul>
</section>

<section>
	<h2>What is sovereign AI</h2>
	<table>
		<thead>
			<tr class="fragment">
				<td>Sovereign AI</td>
				<td><a href="/hot-take.mp4" target="_blank">Corporate AI</a></td>
			</tr>
		</thead>
		<tbody>
			<tr class="fragment">
				<td>✅ Your data belongs to you</td>
				<td>❌ Your data belongs to shareholders</td>
			</tr>
			<tr class="fragment">
				<td>✅ Lives on a private server, no spying</td>
				<td>❌ Corporate servers spy on you</td>
			</tr>
			<tr class="fragment">
				<td>✅ Trained on your own content, with sources</td>
				<td>❌ Trained on biased, opaque content</td>
			</tr>
			<tr class="fragment">
				<td>✅ Open source</td>
				<td>❌ Closed source</td>
			</tr>
			<tr class="fragment">
				<td>✅ Motivated by community</td>
				<td>❌ Motivated by profit</td>
			</tr>
			<tr class="fragment">
				<td>✅ Features stays put</td>
				<td>❌ Subjected to <a href="https://en.wikipedia.org/wiki/Enshittification" target="_blank">enshittification</a></td>
			</tr>
		</tbody>
	</table>

</section>

<section>
	<h2>The road ahead</h2>
	<ul>
		<li class="fragment">Dead internet theory vs digital enclaves</li>
		<li class="fragment">Epistemology: a community to define what's real</li>
		<li class="fragment">Different way to interact with books</li>
		<li class="fragment">Seed, not net</li>
	</ul>
</section>

<section>
	<h2 class="fragment">Recipe and requirements</h2>

	<p class="fragment">Pending</p>
</section>

<section>
	<h2 class="fragment">Contact and next steps</h2>

	<p class="fragment">{{ partial "nimbus/QR.svg" . }}</p>
</section>
