# Hugo build output
/public/
/resources/_gen/

# Hugo cache
.cache/

# OS and editor files
.DS_Store
Thumbs.db

# Logs
*.log

# Node modules (if using npm/yarn for assets)
node_modules/

# SASS/SCSS cache
.sass-cache/

# Backup files
*~


# But allow specific files/folders if needed (uncomment and edit as needed)
# !.github/README.md

# Ignore any file ending with -private.*
*-private.*

.env
